@font-face {
  font-family: 'ABCFavorit-Regular';
  src:
    url('/fonts/ABCFavorit-Regular.woff2') format('woff2'),
    url('/fonts/ABCFavorit-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Ajoutez une classe utilitaire pour utiliser la police */
.font-abc-favorit {
  font-family: 'ABCFavorit-Regular', sans-serif;
}
